MYSQL_DATABASE=kagari
MYSQL_USER=kagari
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-root-password
REDIS_PASSWORD=change-redis-password
FRONTEND_PORT=127.0.0.1:3000
BACKEND_PORT=127.0.0.1:18080
NUXT_PUBLIC_API_BASE=https://kagari-api.ykagari.top
MYSQL_DSN=kagari:change-me@tcp(mysql:3306)/kagari?charset=utf8mb4&parseTime=True&loc=UTC
